<h1>Search</h1>

<div class="pager">
  <%= will_paginate @results if @results %>
</div>

<%= form_tag search_url, :method => :get, :class => :search do %>
  <ul>
    <li>
      <input type="search" name="q" class="search_term" value="<%= params[:q] %>" placeholder="Enter your search term here" />
    </li>
    <li class="submit_search"><%= submit_tag "Search" %></li>
  </ul>
<%- end -%>

<div class="clear"></div>

<%- if @results -%>

  <%- if @results.count > 0 -%>
    <div class="contact-list">
      <%= render :partial => "layouts/contact", :collection => @results %>
      <!-- /items -->
    </div>
    <!-- contact-list -->
  <%- else -%>
    Sorry. Your serach '<%= params[:q]  %>' didn't match somebody in our database.
  <%- end -%>
  <div class="clear"><!-- clear --></div>
<%- end -%>
