<!--<h1>Login</h1>-->

<%= image_tag 'keyvisual.jpg', :alt => 'HELLOWORLD The demo community by innoQ' %>

<br /><br />

<%= link_to "Register", :controller => 'auth', :action => 'register' %>
<%= form_for @user, :url => authenticate_path do |u| %>
  <%= u.label :login, 'Login' %>:
  <%= u.text_field :login %><br />
  <%= u.label :password, 'Password' %>:
  <%= u.password_field :password %><br />
  <%= u.submit "Log in", :class => "button-blue" %>
<% end %>
<p><%= @hint %></p>
