<h1>Register</h1>

<div id="col-one">
  <p>Please fill in the fields to become a member:</p>
  <p><%= link_to "Already have a login?", :controller => 'auth', :action => 'login' %></p>
</div>
<!-- /col-one -->

<div id="col-two-large">
  <div class="profile-center">
    <div class="default-form">
    <%= form_for @user, :url => register_user_path do |u| %>
      <%= u.label :login, 'Login' %>
      <%= u.text_field :login %>
      <%= u.label :password, 'Password' %>
      <%= u.password_field :password %>
     <%= u.submit "Register" %>
    <% end %>
    </div>

  </div>
</div>
<!-- col-two-large -->

<div class="clear"></div>


