<h1>World status feed</h1>



<div class="two-col-left">

    <h2>What do you want to share with the world?</h2>

    <%= form_for Status.new, :builder => Helloworld::FormBuilder, :class => 'status' do |f| %>
    <ul class="status-form">

      <%= f.block :message do %>
        <!--<%= f.label :message, "What do you want to share with the world?" %>-->
        <%= f.text_area :message, :placeholder => "Your message", :cols => 35, :rows => 3 %>
      <%- end -%>

      <%= f.block :submit do %>
        <%= f.submit "Publish" %>
      <%- end -%>

    </ul>
  <%- end -%>

</div>
<!-- two-col-left -->



<div class="two-col-right">

    <h2>The world says so:</h2>

    <div class="stream">
    <%- @statuses.each do |status| -%>
    <div class="status">
       <%= link_to (image_tag status.profile.photo.url , :alt => "username", :class=> "stream-image"), profile_url(status.profile) %>
      <div class="status-message"><%= status.message %></div>

      <%= link_to status.profile.full_name, profile_url(status.profile), :class=>"username" %> <span class="status-date"><%= l(status.created_at, :format => :long) %></span>

    </div>
    <div class="clear"><!-- clear --></div>
    <%- end -%>
    </div>
    <!-- /stream -->
    
</div>
<!-- two-col-right -->



<div class="clear"><!-- clear --></div>
