
<h1>Welcome, <%= current_user.profile.first_name %></h1>

<% div_for current_user do %>
  <p class="profession"><span class="label">Profession:</span><%= current_user.profile.profession %></p>
  <p class="company"><span class="label">Company:</span><%= current_user.profile.company %></p>
  <p class="about"><span class="label">About <%= current_user.profile.first_name %>:</span><%= current_user.profile.about %></p>
  <p class="created-at"><span class="label">Created:</span><%= current_user.profile.created_at %></p>
  <p class="updated-at"><span class="label">Updated:</span><%= current_user.profile.updated_at %></p>
  <p class="contact-count"><span class="label"># of Contacts:</span><%= current_user.profile.contact_count %></p>
  <p><%= link_to "Public Profile", profile_path(current_user.profile) %></p>
  <p><a href="#">Update status</a></p>
<% end %>

<%- if current_user.profile.contacts.relation_not_accepted.any? -%>
  <h2>Contacts waiting for confirmation</h2>
  <div class="contact-list">
    <%= render :partial => "layouts/contact", :collection => current_user.profile.contacts.relation_not_accepted %>
    <!-- /items -->
  </div>
  <!-- contact-list -->

<%- end -%>

<div class="clear"><!-- clear --></div>

