<div class="contact-list-item">
  <%= image_tag contact.photo.url(:medium), :alt => contact.full_name, :class => "user-image" %>
  <div class="contact-list-item-data">
    <h3><%= link_to contact.full_name, private_profile_url(contact)  %></h3>
    <p class="job-title"><%= contact.profession %></p>

    <div class="address1">
      <%= contact.company %><br />
      <%= "#{contact.business_address.zip} #{contact.business_address.city}" if contact.business_address  %>
    </div>

    <div class="address2">
      <%= mail_to contact.company_email.value if contact.company_email %><br />
	<%= mail_to contact.company_phone.value if contact.company_phone %>
    </div>

    <div class="actions">
      <%= link_to "Nachricht schreiben", new_message_url(:to => contact.id), :class => "message showmessage" %>
      <%= link_to "Löschen", contact_url(contact.id), :method => :delete, :class => "delete", :confirm => "Sure?" %>
      <a class="export" href="#">Vcard Export</a>
    </div>

  </div>
</div>
