<!--<h1>Login</h1>-->

<div id="login-visual">
  <%= image_tag 'keyvisual.jpg', :alt => 'HELLOWORLD The demo community by innoQ' %>
</div>

<br /><br />

<div class="login-info">
  <%= image_tag 'login-info.png', :alt => 'HelloWorld' %>
</div>

<div class="login-register">
<%= link_to image_tag('register.png' , :border=>0), :controller => 'auth', :action => 'register' %>
</div>


<div class="default-form small-form">
<%= form_for @user, :url => authenticate_path do |u| %>
  <%= u.label :login, 'Login' %>
  <%= u.text_field :login %><br />
  <%= u.label :password, 'Password' %>
  <%= u.password_field :password %><br />
  <%= u.submit "Log in", :class => "button-blue" %>
<% end %>
</div>

<p class="small-grey hint"><%= @hint %></p>




